body{
    color:#393d41;
    font-size:1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height:1.65;
}

header{
    background-color:black;
    text-align: center;
    padding: 50px 0 ;
}
.logo{
    width:180px;
}

.sfondo{
    background-image:url(../img/banner.jpg);
    text-align: center;
    padding:15px 40px 40px 40px;
    box-sizing: border-box;
}

#titolo{
    font-size:40px;
    padding-top:30px;
    padding-bottom: 15px;
    line-height: 1;
}

#spazio{
    height: 130px;
}

#bottone{
    display: inline-block;
    padding: 10px 35px;
    border-radius:7% ;
    background-color: #f04c2f;
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.seconda-parte{
    text-align:center;
    padding:70px 0;
}

h1, h3{
    color:#25a2c3;
    line-height:1.5;
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
}

.centra-img{
    text-align: center;
    border:#dee1e3 1px solid;
    padding:0 0 20px 0;
    margin-bottom: 40px;

}

.centra-img img{
    max-width: 100%;
}


.distanza-titoli{
    padding:15px 0 15px 0;
}

.distanza-argomenti{
    padding-bottom: 30px;
}

.distanza-ultimo{
    padding-bottom:60px;
}

.arrotonda{
    border-radius: 50%;
    padding:30px 0;
}

.orange{
    padding-top: 20px;
    background-color: #e22d0e;
}

h2{
    padding:50px 0 20px 0;
    font-size:30px;
    font-weight: bold;
    color:white;
}
.bianco{
    color:white;
    padding-bottom:20px;
}

#bianco-contatti{
    color:white;
}

.bianco-riduci{
    color:white;
    font-size:15px;
    display:inline-block;
    height: 25px;
}

.accentra{
    text-align: center;
    padding:10px 30px 70px 30px;
}

footer{
    text-align: center;
    background-color:#25a2c3;
}

.centra-barra{
    padding: 20px 120px;
}

#bianco-contatti-fine{
    color:white;
    padding-top:20px;
    padding-bottom:100px;
}