body{
    font-family:'Poppins', sans-serif;
    background-image:url(../img/sfondo.png);
    margin:15px;
}

header{
    background-color:hsl(190.08deg 92.91% 27.65%);
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
}



.titolo{
    color:white;
    padding-top: 15px;
}

.lista{
    padding: 15px;
}