body{
    font-family:'Poppins', sans-serif;
    background-image:url(../img/sfondo.png);
    margin:15px;
}

header{
    background-color:aqua ;
    padding:10px;
    box-sizing: border-box;
    text-align: center;
}

.dimensione{
    
}

.titolo{
    color:white;
}