<h1 class="text-center">Home page</h1>
<app-nav></app-nav>
<div class="container bg-body-tertiary mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-6 text-center my-5">
      <img src="https://picsum.photos/400/150" alt="logo">
      <h3 class="text-center">Il tuo salone di fiducia</h3>
    </div>
  </div>
</div>
<h4 class="text-center my-5">I nostri Marchi</h4>
<div class="container mb-5">
  <div class="row border-bottom justify-content-center align-items-center">
    <div class="col-4 mb-4 text-center">
      <img class="w-25" src="../../../assets/loghi/fiat logo.png" alt="logo">
    </div>
    <div class="col-4 mb-4 text-center">
      <img class="w-25" src="../../../assets/loghi/audi.png" alt="logo">
    </div>
    <div class="col-4 mb-4 text-center">
      <img class="w-25" src="../../../assets/loghi/Ford-Motor-Company-Logo.png" alt="logo">
    </div>
  </div>
  <h4 class="text-center my-5">I nostri Marchi</h4>
  <div class="row justify-content-evenly ">
    <div *ngFor = "let macchina of macchineCasuali" class="col-3">
      <div class="card" >
        <img [src]="[macchina.modelImage]" alt="macchina">
        <div [style.background-color]="cambiaColore(macchina.available)" class="card-body">
          <h5 class="card-title">{{macchina.model}}</h5>
          <p>{{macchina.year}}</p>
          <p>{{macchina.price}}</p>
          <p>Pronta consegna:{{macchina.available}}</p>
          <button [routerLink]="['/',macchina.brand]" class="btn btn-primary">Tutte le nostre {{macchina.brand}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

