<div class="container">
  <h1>Reactive Form</h1>
  <form>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nome</label>
      <input type="text" class="form-control" placeholder="Nome Utente">
      <label for="exampleFormControlInput1" class="form-label">Cognome</label>
      <input type="text" class="form-control" placeholder="Cognome Utente">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control"placeholder="name@example.com">
    </div>
    <button class="btn btn-success">Invia</button>
  </form>
</div>
