<nav class="navbar navbar-expand-lg bg-dark rounded" aria-label="Eleventh navbar example">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <img src="https://picsum.photos/200/60" alt="logo">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/Fiat">Fiat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="/Ford">Ford</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="/Audi">Audi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
